<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Natural Disaster News in India</title>
    <link rel="stylesheet" href="news.css">

</head>

<body onload="loadfun()">
     <div id="loading">
                <div class="loader"></div>
            </div>
    <div class="container">
        <h1>Latest news from NDMA Social media page</h1>
        <div id="newsContainer" >        </div>
<a class="twitter-timeline" href="https://twitter.com/ndmaindia?ref_src=twsrc%5Etfw">Tweets by ndmaindia</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <script src="news.js"></script>
</body>

</html>